#copyright-content {
  padding-top: 10rem;
  padding-right: 12rem;
}

#copyright-content li {
  float: left;
}

#copyright-content li a {
  color: #337ab7;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
}

#copyright-content li a:hover {
  color: #23527c;
  text-decoration: underline;
}

#copyright-content .vertical-line {
  border-right: 1px solid black;
}

#copyright-content p {
  font-style: italic;
  font-weight: 100;
  margin-left: 8rem;
}

#copyright-content ul {
  list-style-type: none;
}
